---
- name: create directory
  ansible.builtin.file:
    path: "{{ INSTALLATION_DIR }}/node_exporter"
    state: directory

- name: download zip
  unarchive:
    src: "https://github.com/prometheus/node_exporter/releases/download/v1.8.2/node_exporter-1.8.2.linux-amd64.tar.gz"
    dest: "{{ INSTALLATION_DIR }}"
    remote_src: true

- name: start node exporter
  shell: "nohup sudo {{ INSTALLATION_DIR }}/node_exporter-1.8.2.linux-amd64/node_exporter &"
  ignore_errors: true
  timeout: 10
  tags:
    - start
