---

- name: Copy zookeeper.properties
  ansible.builtin.copy:
    src: "{{ BASE_DIR }}/infra/kafka_files/zookeeper.properties"
    dest: "{{ INSTALLATION_DIR }}/zookeeper.properties"

- name: Add zookeeper servers to zookeeper.properties
  command: "sudo sh -c \"echo '{{ ZOOKEEPER_SERVERS }}' >> {{ INSTALLATION_DIR }}/zookeeper.properties\""

- name: Set zookeeper node id
  command: "sudo sh -c \"mkdir -p /tmp/zookeeper && echo {{ id }} > /tmp/zookeeper/myid\""

- name: Zookeeper start
  command: "sudo /bin/bash {{ INSTALLATION_DIR }}/kafka_2.12/bin/zookeeper-server-start.sh {{ INSTALLATION_DIR }}/zookeeper.properties"
  async: 45000
  poll: 0
  throttle: 1
  tags:
    - zookeeper-start

- name: Wait for Zookeeper
  ansible.builtin.wait_for:
    port: 2181

# - name: Kafka stop with shell script
#   shell: "sudo /bin/bash {{ INSTALLATION_DIR }}/kafka_2.12-3.4.0/bin/kafka-server-stop.sh"
#   ignore_errors: true
#   tags:
#     - kafka-stop

# - name: Kafka stop with fuser
#   shell: "sudo fuser -k -n tcp 9092"
#   ignore_errors: true
#   tags:
#     - kafka-stop

- name: 30 second pause
  pause:
    seconds: 30

- name: Kafka start
  command: "sudo /bin/bash {{ INSTALLATION_DIR }}/kafka_2.12/bin/kafka-server-start.sh {{ INSTALLATION_DIR }}/kafka_2.12/config/server.properties --override broker.id={{ id }}"
  environment:
    KAFKA_OPTS: "-javaagent:/home/playground/kafka_2.12/libs/jmx_prometheus_javaagent.jar=7075:/home/playground/kafka_2.12/config/jmx_exporter.yml"
  async : 45000
  poll: 0
  tags:
    - kafka-start

- name: Wait for Kafka
  ansible.builtin.wait_for:
    port: 9092
