---
- name: Provide job to cluster
  hosts: alpha
  gather_facts: yes
  become: True
  become_method: sudo
  tasks:
    - include_tasks: "tasks/storm/storm-setup-job.yaml"
      tags:
        - "storm-setup-job"
    - include_tasks: "tasks/kafka/kafka-create-topic.yaml"
      tags:
        - "kafka-create-topic"
    - include_tasks: "tasks/storm/storm-provide-job.yaml"
      tags:
        - "storm-provide-job"
- name: Run producer
  hosts: betas
  gather_facts: yes
  become: True
  become_method: sudo
  tasks:
    - include_tasks: "tasks/producer/producer-run.yaml"
      tags:
        - "producer-run"
