---
- name: create directory
  ansible.builtin.file:
    path: "{{ INSTALLATION_DIR }}/push_gateway"
    state: directory

- name: download zip
  unarchive:
    src: "https://github.com/prometheus/pushgateway/releases/download/v1.10.0/pushgateway-1.10.0.linux-amd64.tar.gz"
    dest: "{{ INSTALLATION_DIR }}"
    remote_src: true

- name: start push gateway
  shell: "nohup sudo {{ INSTALLATION_DIR }}/pushgateway-1.10.0.linux-amd64/pushgateway &"
  ignore_errors: true
  timeout: 10
  tags:
    - start
